$icon-layout:horizontal;
@import "icon/*.png";
@include all-icon-sprites;

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icon-animation {
	width:450px;
	height:800px;
    background: url("../img/icon-sf4eddec8bd.png") left center;
    background-size: auto 100%;
	animation: play 600ms steps(7) infinite;
}

@keyframes play {
	100% {
		background-position: -3150px; 
	}
}